.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5rem;
}

@media (min-width: 768px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1280px) {
	.container {
		grid-template-columns: repeat(5, 1fr);
	}
}

.card {
	border: 1px #ccc solid;
	border-radius: 5px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	gap: 1rem;
	text-align: center;
}

.btn {
	background: #333;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5px;
}

.btn--primary {
	background: #007bff;
}

.btn--secondary {
	background: #6c757d;
}
